{% comment %} <!-- change_password.html -->
{% load static %}

<link rel="stylesheet" href="{% static 'css/style_favorites.css' %}">
<script src="{% static 'js/script.js' %}"></script>
{% include 'navbar_guest.html' %}
<h1>Şifre Değiştirme</h1>

<form method="POST">
  {% csrf_token %}

  <label for="email">Activate</label>
  <input type="email" id="email" name="email" required>

  <button type="submit">Send</button>
</form> {% endcomment %}

{% load static %}

Please click the following link to activate your account:

{{ domain }}{% url 'activate_account' token %}

Thank you for registering!
