<!DOCTYPE html>
<html>
<head>
    <title>Movie Suggestions</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    {% include 'navbar.html' %}

    <style>
        .watchlist-button {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: yellow;
            color: black;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
            transition: background-color 0.3s, color 0.3s;
        }
        
        .watchlist-button:hover {
            background-color: orange;
            color: white;
        }
        
    </style>
</head>
<body>

    <h1>Movie Suggestions</h1>
    <form id="movie-form" method="post" action="{% url 'suggest' %}">
        {% csrf_token %}
        <label for="movie-name">Enter A Similar Movie:</label>
        <input type="text" id="movie-name" name="movie_name">
        <label for="emotion-text">How do you feel:</label>
        <input type="text" id="emotion-text" name="emotion_text">
    
        <div class="login-box">
    
            <a href="javascript:void(0);" id="submit-link">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Submit
            </a>
        </div>
    </form>
    <a style="display: none;" href="{% url 'newsuggest' %}" id="new-suggest-link">New Suggestion</a>
    <a href="{% url 'supriseme' %}" id="supriseme-link">Suprise me</a>


    <script>
        {% comment %} document.getElementById('submit-link').addEventListener('click', function() {
            document.getElementById('movie-form').submit();
            document.getElementById('new-suggest-link').style.display = 'block';  
        }); {% endcomment %}


        document.getElementById('submit-link').addEventListener('click', function(event) {
            event.preventDefault();  // Formun otomatik gönderilmesini durdur
        
            var movieName = document.getElementById('movie-name').value;
            var emotionText = document.getElementById('emotion-text').value;
        
            if (movieName.length < 3 || emotionText.length < 5) {
                alert('Movie name and emotion text should be at least 5 characters long');
            } else {
                document.getElementById('movie-form').submit();
                document.getElementById('new-suggest-link').style.display = 'block';
            }
        });
        
    </script>
    
    <div id="movie-images-container">
        {% for suggestion in movie_suggestions %}
            <div class="card" style="background-image: url('{{ suggestion.movie_image }}')">
                <h2 class="movie-title">{{ suggestion.movie_title }}</h2>
                <div class="button-container">
                    <a href="{% url 'add_to_watchlist' suggestion.movie_title %}" class="watchlist-button">Watchlist</a>
                </div>
            </div>
        {% endfor %}
    </div>
    

<script>
    function addToWatchlist(movieId) {
        var button = document.getElementById(movieId);
        button.style.backgroundColor = "yellow";
        // Diğer watchlist işlemlerini buraya ekleyebilirsiniz
        // Örneğin, AJAX isteği ile sunucuya watchlist'e ekleme işlemi yapılabilir
        // veya watchlist'e ekleme API'sı çağrılabilir
    }
</script>

    
    
    
    <!-- <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a> -->

    
</body>
</html>
