<!DOCTYPE html>
<html>
<head>
    <title>Movie Suggestion</title>

    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    {% include 'navbar.html' %}


</head>

<body>
    <h1>Movie Suggestion</h1>
    <form id="movie-form">
        <label for="movie-name">Enter A Similar Movie:</label>
        <input type="text" id="movie-name" name="movie_name">
        <label for="emotion-text">How do you feel:</label>
        <input type="text" id="emotion-text" name="emotion_text">

        <div class="login-box">

            <a  href="{% url 'suggest' %}" id="submit-link">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Submit
            </a>
            
           
        </div>
    </form>
        <div  id="movie-details">
        <h2 id="movie-title"></h2>
        <div  id="movie-images-container"></div>

        <div style="display: none;" id="loading-spinner" class="spinner-box">
            <div class="blue-orbit leo">
            </div>
        
            <div class="green-orbit leo">
            </div>
            
            <div class="red-orbit leo">
            </div>
            
            <div class="white-orbit w1 leo">
            </div><div class="white-orbit w2 leo">
            </div><div class="white-orbit w3 leo">
            </div>
        </div>
        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>

    </div>
  
</body>
</html>
