<!-- change_password.html -->
{% load static %}

<link rel="stylesheet" href="{% static 'css/style_favorites.css' %}">
<script src="{% static 'js/script.js' %}"></script>
{% include 'navbar.html' %}
<h1>Şifre Değiştirme</h1>

<form method="POST">
  {% csrf_token %}
  {% for message in messages %}
  <p id="messages" class="xerr"> {{message}} </p>
  {% endfor %}
  <label for="oldpassword">Eski Şifre:</label>
  <input type="password" id="oldpassword" name="oldpassword" required>

  <label for="newpassword">Yeni Şifre:</label>
  <input type="password" id="newpassword" name="newpassword" required>

  <label for="renewpassword">Yeni Şifre (Tekrar):</label>
  <input type="password" id="renewpassword" name="renewpassword" required>

  <button type="submit">Şifreyi Değiştir</button>
</form>
