<!-- profile.html -->

<h1>Profil</h1>
{% load static %}

<link rel="stylesheet" href="{% static 'css/style_favorites.css' %}">
<script src="{% static 'js/script.js' %}"></script>
{% include 'navbar.html' %}

<form method="POST">
  {% csrf_token %}

  <label for="username">Kullanıcı Adı:</label>
  <input type="text" id="username" name="username" value="{{ user.username }}" required>
  
  <label for="email">E-posta:</label>
  <input type="email" id="email" name="email" value="{{ user.email }}" required>
  <label for="email">Activation pending:</label>

  {% comment %} <label for="password">Şifre:</label>
  <input type="password" id="password" name="password" required> {% endcomment %}
  
  <button type="submit">Kaydet</button>

  {% comment %} <a href="{% url 'update_profile'  %}">update</a> {% endcomment %}

  <a href="{% url 'change_password' %}">Change Password</a>

  <button type="submit">Delete Account</button>

</form>
